.mainBlock{
    display: flex;
    justify-content: center;
}
.imageContainer{
    max-width: 900px;
}
.textBox{
    border-bottom: 4px solid white;
    width: 75%;
    float: right;
    margin-top: -80px;
}
.sizeIcon{
    color: #8B7032;
    font-size: 105px;
}