<app-header></app-header>

<section style="height: 91vh" class="default-section-padding default-bg-color">
  <div class="container">
    <div class="mainBlock">
      <div>
        <div class="input-group my-4">
          <span class="input-group-text" id="basic-addon1"
            ><i class="fa-regular fa-envelope"></i
          ></span>
          <input
            type="text"
            class="form-control"
            placeholder="Email"
            aria-label="Username"
            aria-describedby="basic-addon1"
          />
        </div>

        <div class="input-group my-4">
          <span class="input-group-text" id="basic-addon1"
            ><i class="fa-regular fa-eye"></i
          ></span>
          <input
            type="text"
            class="form-control"
            placeholder="Password"
            aria-label="Username"
            aria-describedby="basic-addon1"
          />
        </div>

        <button
          class="defautBtn text-orange font-size-21 font-weight-600 default-bg-color jost-font mx-2"
        >
          LOGIN
        </button>

        <button
          class="defautBtn text-orange font-size-21 font-weight-600 default-bg-color jost-font mx-2"
        >
          SIGNUP
        </button>
      </div>
      <div>
        <div class="imageContainer">
          <img
            style="width: 100%; height: 100%; mix-blend-mode: multiply"
            src="/assets/rooster.jpg"
          />
        </div>
      </div>
    </div>
  </div>
</section>
<section class="extra-default-section-padding dark-green-bg">
  <div class="container">
    <p class="text-white font-size-45 font-weight-600 pb-5">How to use</p>
    <p class="text-white font-size-29 font-weight-600 pb-5">
      by following few steps...
    </p>
    <p
      style="line-height: 40px"
      class="font-size-29 font-weight-600 my-2 text-light-green"
    >
      Use our tool to calculate <br />
      the total cost required for the <br />
      whole process
    </p>
    <button class="defautOversizedBtn font-size-37 font-weight-600 jost-font my-5">Click Here</button>
  </div>
  <div class="textBox"></div>
</section>
