<section class="headerPadding default-bg-color">
  <div class="container">
    <div class="headerFlex">
      <div class="leftContent">
        <div class="logoHolder">
          <img style="width: 100%;height: auto;" src="/assets/logo.png" />
        </div>
        <p class="font-size-45 text-white font-weight-500 jost-font">FarmSense</p>
      </div>
      <div class="rightContent">
        <p class="font-size-15 text-white font-weight-500 jost-font">Home</p>
        <p class="font-size-15 text-white font-weight-500 jost-font">About Us</p>
        <p class="font-size-15 text-white font-weight-500 jost-font">Contact Us</p>
      </div>
    </div>
  </div>
</section>
